/*
*********************************
 Subject: CGD 200 (Fall 2025)
 Author: Edilvan E. Falcon
 Instructor: David Kazaryan
 Date Created: 2025.11.17
 Description: Assignment No. 3
 
 Create a Github page
*********************************
*/

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

    body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(45deg, #c3c3c3, #e9e9e9); */
    }
    .kaushan-script-regular {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    }

/* <weight>: Use a value from 100 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */
    .raleway-regulae {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
}

    #main-body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Roboto", sans-serif;
    }

    #dashboard-info {

    font-family: "Kaushan Script", cursive;
    font-size: 3em;
    border: solid 2px rgba(224, 95, 2, 1);
    display: block;
    clear: both;
    width: 70%;
    color: rgba(224, 95, 2, 1);
    margin: 100px auto;
    text-align: center;
    padding: 10px;
    border-radius: 10px;

    }

    .container {
    font-family: "Kaushan Script", cursive;
    width: 1080px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
    }

    .content h2 { color: #a70202; }
    .content p { min-height: 250px; font-family: "Raleway", sans-serif; font-style: italic;}
    .content p a { display: block; margin-top:5px;  text-decoration: none; font-weight: bold; color:  #a70202; }
    .content p a:hover { color:#0014c7 }

    .card {
    position: relative;
    width: 350px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    cursor: pointer;
    }

    .card .face {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .card .face.face1 {
    box-sizing: border-box;
    padding: 20px;
    }

    .card .face.face1 h2 {
    margin: 0;
    padding: 0;
    }

    .card .face.face1 .content {
    font-size: 1.2em;
    margin: 0;
    padding: 0 0 1em 0;
    font-weight: 500;
    }

    .card .face.face2 {
    background: #111;
    transition: 0.5s;
    }

    .card:nth-child(1) .face.face2 {
    background: linear-gradient(45deg, #00229a, #969696);
    border-radius: 15px;
    }

    .card:nth-child(2) .face.face2 {
    background: linear-gradient(45deg, #f2ff00, #090909);
    border-radius: 15px;
    }

    .card:nth-child(3) .face.face2 {
    background: linear-gradient(45deg, #c00303, #50504f);
    border-radius: 15px;
    }

    .card:hover .face.face2 {
    height: 60px;
    border-radius: 0 0 15px 15px;
    }

    .card .face.face2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px 0 0 15px;
    }

    .card .face.face2 h2 {
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: #fff;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .card:hover .face.face2 h2 {
    font-size: 2em;
    }

     .footer {
        font-family: "Raleway", sans-serif;
        display: block;
        clear: both;
        width: 70%;
        margin: 100px auto;
        font-size: 0.95rem;
        color: #6a6969;
        text-align: center;
        border-top: solid 1px #6a6969;;
      }