* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***************************************************/
/* Reference from googlefont */
/*
.ultra-regular {
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
}


.alumni-sans-pinstripe-regular {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alumni-sans-pinstripe-regular-italic {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: italic;
}
*/
/***************************************************/

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    
}

header {
    background-color: #333;
    color: white;
    padding: 60px 20px;
    text-align: center;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}

nav h1 {
    font-family: "Ultra", serif;
    font-size: 1.8rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover { color:  rgb(93, 4, 1); font-weight: bolder; }

header {

  background-image: url("/assets/images/grass-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #413f3f;
}

.hero h2 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    font-family: "Ultra", serif;
    
    text-shadow: /* 10px 10px 10px 20px rgba(0, 0, 0, 0.1); */ 1px 1px 5px rgb(110, 110, 111), -1px -1px 10px rgb(125, 141, 4) ;

}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px rgb(110, 110, 111)
}

.cta-button {
    background-color: #f85d5d;
    color: rgb(93, 4, 1);
    padding: 12px 24px;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: background 0.3s ease;
    font-family: "Ultra", serif;
    text-transform: uppercase;
}

/* added some effect on cta button */
.cta-button:hover {
    background-color: #aa2121;
    color:#f9f9f9
}

section {
    padding: 60px 20px;
    text-align: center;
}



#how-it-works { 
  background-image: url("/assets/images/hiw-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
  
 } 

 section#how-it-works h2 { color: #f85d5d;  }

 section#how-it-works p { 
    color: #f9f9f9;  
    text-shadow: 1px 1px 5px rgb(110, 110, 111);
    
 } 

/* added customization on text formatting */
section h2 { font-family: "Ultra", serif; font-size: 2rem; color: #93b400; }

.features-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    flex-wrap: wrap;
}



.feature {
    background-color: white;
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    max-width: 250px;
}
.feature h3 { font-family: "Ultra", serif; }

.feature .details { padding: 20px; display: block; background-color: #dfff52; border-radius: 0 0 10px 10px; }


footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
}